.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color:rgb(2, 112, 48)
}

.main {
    flex: 1 1 auto;
    background-color: rgb(15, 0, 43);
    padding: 40px 0;

}


#toggle {
    opacity: 0;
}

/* Создание кнопки(стилизация кнопки) */
.btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    z-index: 50;
    background-color: rgb(2, 112, 48);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

/* создание бургера */
.btn span {
    width: 50%;
    left: 25%;
}

.btn span::before,
.btn span::after {
    width: 100%;
    left: 0;
}

.btn span,
.btn span::before,
.btn span::after {
    display: block;
    position: absolute;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.btn span::before {
    content: '';
    top: -8px;
}
.btn span::after {
    content: '';
    top: 8px;
}

.menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    padding: 80px 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 0px 10px 3px rgba(0, 0, 0, 0.61);
    transition: 0.5s ease-in;
}
.menu_item {
    display: block;
    padding: 15px 10px;
    color: rgb(70, 70, 70);
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s;
}

.menu_item:hover {
    background-color: rgb(196, 196, 196);;
    border-radius: 5px;
}

#toggle:checked~.btn span {
    transform: rotate(45deg);
}

#toggle:checked~.btn span::before {
    top: 0;
    transform: rotate(0deg);
}

#toggle:checked~.btn span::after {
    top: 0;
    transform: rotate(-90deg);
}

#toggle:checked~.menu {
    visibility: visible;
    left: 0;
}

#output {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    margin: o auto;
    flex-wrap: wrap;
}

.block1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block1 img{
    max-width: 500px;
    max-height: 500px;
}
.block1 p {
    color: #FFF;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.block2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block2 p {
    color: #FFF;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.block3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block3 p {
    color: #FFF;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.block3_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block3_item p {
    color: #FFF;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: aquamarine;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 45px;
}

.wrapper form #inp {
    border: none;
    outline: none;
    background-color: rgb(0, 77, 77);
    color: white;
    height: 25px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
}

.wrapper form #inp::placeholder {
    color: rgb(136, 132, 132);
}


.button {
    min-width: 150px;
    min-height: 25px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

button::before {
content: '';
    border-radius: 1000px;
    min-width: calc(150px + 12px);
    min-height: calc(25px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}  
@keyframes ring {
    0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    }
    100% {
    width: 100px;
    height: 100px;
    opacity: 0;
    } 
} 

.footer {
    height: 100px;
    background-color: rgb(0, 87, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}